html{
  background-color:#29211f;
  animation:bgSlide infinite 10s;
}

@keyframes bgSlide{
  0%{
    background-color:#29211f;
  }
  25%{
    background-color:#3217aa;
  }
  75%{
    background-color:#831a00;
  }
  100%{
    background-color:#29211f;
  }
}

html,body{
  margin:0;
  height:0;
  width:100vw;
  height:100vh;
}

.holder{
  display:flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.window{
  /*background-image:url('images/box-1x.png');*/
  border:none 0;
  border-style:solid;
  border-width: 30px 4px 4px 4px;
  border-image: url('images/box-1x.png') 31;
  border-image: url(images/box-1x.png) 31 4 4 4;
  /*min-height:100px;*/
  min-width:200px;
  image-rendering: pixelated;
  padding:0;
  margin:0;
  position:relative;
  font-family:Verdana, system-ui;
  margin:10px;
  background-color:#fff;
  background-clip:content-box;
  display:flex;
  flex-direction:column;
  width:fit-content;
  filter:drop-shadow(1px 1px 0 rgba(0,0,0,.2));
}

.window:before{
  content:attr(title);
  position:absolute;
  top:-23px;
  left:3px;
  color:white;
  font-size:12px;
  text-transform:uppercase;
}

*{
  box-sizing:border-box;
}

.window > .content{
  padding:5px;
  font-size:12px;
}

.window.left{
  width:min(500px, 90vw);
  /*height:min(200px, 50vh);*/
}

.window.right{
  margin-left:-50px;
  margin-top:90px;
}

.window > .content{
  padding-top:1rem;
  padding-bottom:1rem;
}

/* Details */
.name{
  text-transform:uppercase;
  font-weight:bold;
}

.title{
  font-size:smaller;
  white-space:break-spaces;
}

.title:before{ content:"- "}
.title:after{ content:" -"}

.center > *{
  display:flex;
  justify-content:center;
  margin:0 auto;
}

.picture{
  width:64px;
  height:64px;
  background-image:url('https://avatars.githubusercontent.com/u/3198654');
  background-position:center center;
  background-size:contain;
}

/* Socials */
.socials{
  list-style:none;
  margin:0;
  padding:0;
  display:flex;
}

.socials > *{
  width:32px;
  height:32px;
  background-size:contain;
}

.socials .icon{
  width:32px;
  height:32px;
}

.socials .github{
  background-image:url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cg08ZyBpZD0iU1ZHUmVwb19iZ0NhcnJpZXIiIHN0cm9rZS13aWR0aD0iMCIvPgoNPGcgaWQ9IlNWR1JlcG9fdHJhY2VyQ2FycmllciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cg08ZyBpZD0iU1ZHUmVwb19pY29uQ2FycmllciI+IDxwYXRoIGQ9Ik05LjI5MTgzIDIxVjE4LjQ0MDdMOS4zMjU1IDE2LjYyMTlDOS4zNjU5NSAxNi4wNTYxIDkuNTg2MzkgMTUuNTIyOCA5Ljk0OTA3IDE1LjExQzkuOTU0MzggMTUuMTAzOSA5Ljk1OTcyIDE1LjA5NzkgOS45NjUxIDE1LjA5MTlDOS45NzkxIDE1LjA3NjMgOS45Njk4OCAxNS4wNTExIDkuOTQ5MDcgMTUuMDQ4NVYxNS4wNDg1QzcuNTI1NTQgMTQuNzQ2IDUuMDAwNSAxMy43MjI3IDUuMDAwNSA5LjI2NzQ5QzQuOTg0NyA4LjE3MDIxIDUuMzQyNyA3LjEwNjQ4IDYuMDA0MzcgNi4yNzIxNUM2LjAyNzUyIDYuMjQyOTcgNi4wNTEwMyA2LjIxNDA2IDYuMDc0OTIgNi4xODU0NVY2LjE4NTQ1QzYuMTA2MDEgNi4xNDgyIDYuMTE2MTggNi4wOTc3MiA2LjEwMTk0IDYuMDUxMzRDNi4xMDEwNyA2LjA0ODUzIDYuMTAwMjEgNi4wNDU3MSA2LjA5OTM1IDYuMDQyODlDNi4wODMyIDUuOTg5OSA2LjA2ODA0IDUuOTM2NjYgNi4wNTM4OCA1Ljg4MzIxQzUuODEwNjUgNC45NjQ3NCA1Ljg2Mjk1IDMuOTgzNjMgNi4yMDUyNyAzLjA5ODE4QzYuMjA3NzkgMy4wOTE2NCA2LjIxMDM0IDMuMDg1MTEgNi4yMTI5IDMuMDc4NThDNi4yMjU2OCAzLjA0NTk5IDYuMjUyNTEgMy4wMjEwOCA2LjI4Njk4IDMuMDE0OTNWMy4wMTQ5M0M2LjUwMTg5IDIuOTc2NjEgNy4zNzAzNiAyLjkyNTM0IDkuMDMyOTggNC4wNzM0NkM5LjA4NDczIDQuMTA5MTkgOS4xMzcyNCA0LjE0NjA5IDkuMTkwNTMgNC4xODQxOFY0LjE4NDE4QzkuMjI5MDEgNC4yMTE2OCA5LjI3Nzk0IDQuMjIwMTEgOS4zMjM0NCA0LjIwNzE2QzkuMzI0ODcgNC4yMDY3NSA5LjMyNjMxIDQuMjA2MzQgOS4zMjc3NCA0LjIwNTkzQzkuNDE2OTkgNC4xODA1NiA5LjUwNjQ4IDQuMTU2NDkgOS41OTYxNyA0LjEzMzdDMTEuMTc2NiAzLjczMjI2IDEyLjgyMzQgMy43MzIyNiAxNC40MDM4IDQuMTMzN0MxNC40ODg5IDQuMTU1MyAxNC41NzM3IDQuMTc4MDcgMTQuNjU4NCA0LjIwMTk5QzE0LjY2MDIgNC4yMDI1MiAxNC42NjIxIDQuMjAzMDQgMTQuNjYzOSA0LjIwMzU2QzE0LjcxNzQgNC4yMTg3MiAxNC43NzQ5IDQuMjA4ODIgMTQuODIwMiA0LjE3NjUzVjQuMTc2NTNDMTQuODY5OCA0LjE0MTE0IDE0LjkxODcgNC4xMDY3OSAxNC45NjcgNC4wNzM0NkMxNi42MjU3IDIuOTI3NzYgMTcuNDg5NCAyLjk3NjQgMTcuNzA1MyAzLjAxNDY5VjMuMDE0NjlDMTcuNzQwNCAzLjAyMDkyIDE3Ljc2NzggMy4wNDYyOCAxNy43ODEgMy4wNzk0NkMxNy43ODI3IDMuMDgzNzMgMTcuNzg0MyAzLjA4Nzk5IDE3Ljc4NiAzLjA5MjI2QzE4LjEzNDEgMy45NzgxMSAxOC4xODk0IDQuOTYyMTQgMTcuOTQ2IDUuODgzMjFDMTcuOTMxNSA1LjkzODExIDE3LjkxNTkgNS45OTI4IDE3Ljg5OTMgNi4wNDcyM1Y2LjA0NzIzQzE3Ljg4NDMgNi4wOTYxOCAxNy44OTUxIDYuMTQ5NDIgMTcuOTI3OCA2LjE4ODc1QzE3LjkyODkgNi4xODk5OCAxNy45Mjk5IDYuMTkxMjEgMTcuOTMwOSA2LjE5MjQ1QzE3Ljk1MjggNi4yMTg3NyAxNy45NzQ0IDYuMjQ1MzQgMTcuOTk1NiA2LjI3MjE1QzE4LjY1NzMgNy4xMDY0OCAxOS4wMTUzIDguMTcwMjEgMTguOTk5NSA5LjI2NzQ5QzE4Ljk5OTUgMTMuNzQ3IDE2LjQ1NjUgMTQuNzQzNSAxNC4wMjE0IDE1LjAxNVYxNS4wMTVDMTQuMDA3MyAxNS4wMTY1IDE0LjAwMSAxNS4wMzM0IDE0LjAxMDUgMTUuMDQzOUMxNC4wMTQxIDE1LjA0NzkgMTQuMDE3OCAxNS4wNTE5IDE0LjAyMTQgMTUuMDU1OUMxNC4yNjcxIDE1LjMyOTYgMTQuNDU3NyAxNS42NTQ0IDE0LjU4MTEgMTYuMDEwM0MxNC43MTAxIDE2LjM4MjQgMTQuNzYyNiAxNi43Nzk3IDE0LjczNTEgMTcuMTc1NFYyMSIgc3Ryb2tlPSIjZmYzODI5IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIvPiA8cGF0aCBkPSJNNCAxN0M0LjM2OTE1IDE3LjA1MjMgNC43MjE1OSAxNy4xODgzIDUuMDMwNjUgMTcuMzk3NUM1LjMzOTcgMTcuNjA2OCA1LjU5NzI2IDE3Ljg4MzggNS43ODM4IDE4LjIwNzhDNS45NDIzMSAxOC40OTYyIDYuMTU2MDEgMTguNzUwNCA2LjQxMjY0IDE4Ljk1NTdDNi42NjkyNyAxOS4xNjEgNi45NjM3OSAxOS4zMTM1IDcuMjc5MjkgMTkuNDA0M0M3LjU5NDc4IDE5LjQ5NTIgNy45MjUwNCAxOS41MjI2IDguMjUxMTIgMTkuNDg1QzguNTc3MiAxOS40NDc1IDguODkyNjggMTkuMzQ1NyA5LjE3OTQ2IDE5LjE4NTUiIHN0cm9rZT0iI2ZmMzgyOSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4gPC9nPgoNPC9zdmc+);
}

.socials .twitter{
  /* X? */
  background-image:url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyB3aWR0aD0iMzJweCIgaGVpZ2h0PSIzMnB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+Cg08ZyBpZD0iU1ZHUmVwb19iZ0NhcnJpZXIiIHN0cm9rZS13aWR0aD0iMCIvPgoNPGcgaWQ9IlNWR1JlcG9fdHJhY2VyQ2FycmllciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cg08ZyBpZD0iU1ZHUmVwb19pY29uQ2FycmllciI+IDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMTQuODQ4NiA1LjY1ODQ1QzEzLjE0NDIgNS42NTg0NSAxMS43NjI2IDcuMDQwMSAxMS43NjI2IDguNzQ0NDZDMTEuNzYyNiA4Ljk1MzA0IDExLjc4MzEgOS4xNTU4MSAxMS44MjIgOS4zNTExOUMxMS44ODQ2IDkuNjY1ODkgMTEuNzkyNCA5Ljk5MTUzIDExLjU3NDEgMTAuMjI2N0MxMS4zNTU4IDEwLjQ2MTkgMTEuMDM3OSAxMC41NzggMTAuNzE5NCAxMC41Mzg5QzguNTExMTYgMTAuMjY4IDYuNTAyNDggOS4zNTU1NiA0Ljg4NDk4IDcuOTk1NEM0LjkxNjQ5IDguNTk3MzIgNS4xMjUxNSA5LjIzNjcxIDUuNTc3OTkgOS45MDY1NEw2LjI1Njc3IDEwLjkxMDZMNS4xNDIxMSAxMS4zODYzTDQuOTI3MDQgMTEuNDc4MUM1LjA4NjkgMTEuNjYwOSA1LjI3OTEgMTEuODQ4NyA1LjQ5MzY5IDEyLjAzMzJDNS43MzcxNyAxMi4yNDI1IDUuOTcyNDcgMTIuNDE2NSA2LjE0NzI2IDEyLjUzODFDNi4yMzQwOCAxMi41OTg1IDYuMzA0NTIgMTIuNjQ1IDYuMzUxNzEgMTIuNjc1NUM2LjM3NTI3IDEyLjY5MDcgNi4zOTI5NCAxMi43MDE4IDYuNDAzODMgMTIuNzA4Nkw2LjQxNDk1IDEyLjcxNTVMNi40MTUxOSAxMi43MTU3TDYuNDE1NTEgMTIuNzE1OUw2LjQxNTc4IDEyLjcxNjFMNi40MTYxOSAxMi43MTYzTDYuNDE2NDcgMTIuNzE2NUw3Ljk2NDQ4IDEzLjY1NUw2LjM0Mzk3IDE0LjQ2NTNDNi4yNjM3NCAxNC41MDU0IDYuMTgzNjcgMTQuNTQxMiA2LjEwMzkzIDE0LjU3M0M2LjQyOTI0IDE0Ljg0NzEgNi44MjUxNyAxNS4wOTk1IDcuMjQ2NCAxNS4yOTg2TDguNjM2MjMgMTUuOTU1Nkw3LjQ3MjI2IDE2Ljk1OThDNi44MzY5IDE3LjUwOCA2LjE5Nzc4IDE3LjkxNjYgNS4zNjk0NiAxOC4xMzI2QzYuNTk2ODEgMTguNzg3NSA4LjAwMzE1IDE5LjE1OTYgOS40OTk0MSAxOS4xNTk2QzE0LjMwNDUgMTkuMTU5NiAxOC4xNzQ2IDE1LjMyNSAxOC4xNzQ2IDEwLjYyNTZWMTAuMTA1OUwxOC41OTk4IDkuODA3MjFDMTkuMjYzNiA5LjM0MTA3IDE5LjczMjkgOC43MTA2OCAyMC4wNjg5IDcuOTkwMDRIMTguNTM5OEgxNy45MDg0TDE3LjYzNyA3LjQxOTk0QzE3LjE0MDEgNi4zNzYzMyAxNi4wNzcyIDUuNjU4NDUgMTQuODQ4NiA1LjY1ODQ1Wk0zLjU2ODgyIDEyLjk1ODFDMy4zODAzMSAxMy4xNzQgMy4yOTA5MyAxMy40NjQyIDMuMzMxOTMgMTMuNzU1M0MzLjQ0NDc0IDE0LjU1NjMgMy45MjQ0MSAxNS4yNDYyIDQuNDU0NDQgMTUuNzcyOEM0LjU5ODM4IDE1LjkxNTggNC43NTIzMiAxNi4wNTMxIDQuOTEzOTYgMTYuMTg0QzQuODg5MjYgMTYuMTkwOSA0Ljg2NDM3IDE2LjE5NzUgNC44MzkyNSAxNi4yMDM4QzQuMzU3ODkgMTYuMzI0MyAzLjcwOTI2IDE2LjM0OTQgMi42Mjc1NSAxNi4yNDM0QzIuMjA5MzQgMTYuMjAyNCAxLjgxMDE0IDE2LjQyNzMgMS42Mjg0MSAxNi44MDYyQzEuNDQ2NjggMTcuMTg1IDEuNTIxMiAxNy42MzcxIDEuODE0OTIgMTcuOTM3NkMzLjc1NjkzIDE5LjkyNDUgNi40ODQxMyAyMS4xNTk2IDkuNDk5NDEgMjEuMTU5NkMxNS4yMTIgMjEuMTU5NiAxOS44OTc4IDE2LjcyMzkgMjAuMTYyOCAxMS4xMjZDMjEuNDUyMSAxMC4wNDI5IDIyLjA5NzYgOC41NzY3MyAyMi40NDU4IDcuMjQyNjNDMjIuNTI0MSA2Ljk0MjkyIDIyLjQ1OSA2LjYyMzg3IDIyLjI2OTYgNi4zNzg3M0MyMi4wODAzIDYuMTMzNTkgMjEuNzg4IDUuOTkwMDQgMjEuNDc4MyA1Ljk5MDA0SDE5LjEyNDdDMTguMjIwMSA0LjU4ODUzIDE2LjY0MzcgMy42NTg0NSAxNC44NDg2IDMuNjU4NDVDMTIuMTc5NiAzLjY1ODQ1IDkuOTkwNzIgNS43MTQzNSA5Ljc3OTMgOC4zMjg5MkM3LjkxMDMyIDcuODQ0NTYgNi4yNzA1IDYuNzg3NTggNS4wNTg2MyA1LjM1NDA4QzQuODM3NTkgNS4wOTI2MSA0LjQ5ODE0IDQuOTYyNCA0LjE1ODk0IDUuMDA4OTdDMy44MTk3NCA1LjA1NTU0IDMuNTI3OTQgNS4yNzI0MSAzLjM4NTU1IDUuNTgzNzhDMi43ODA4NyA2LjkwNTk3IDIuNjY0MzQgOC40MzEwNCAzLjM0MTE2IDkuOTgwNDZMMy4xMDc0NiAxMC4wODAyQzIuNjQ0NjYgMTAuMjc3NyAyLjQwMDczIDEwLjc4ODQgMi41Mzc5IDExLjI3MjVDMi43MjI3NiAxMS45MjUgMy4xNDEyOSAxMi41MDExIDMuNTY4ODIgMTIuOTU4MVoiIGZpbGw9IiNmZjM4MjkiLz4gPC9nPgoNPC9zdmc+);
}

.socials .linkedin{
  /* Ewww */
  background-image:url(data:image/svg+xml;base64,PCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KDTwhLS0gVXBsb2FkZWQgdG86IFNWRyBSZXBvLCB3d3cuc3ZncmVwby5jb20sIFRyYW5zZm9ybWVkIGJ5OiBTVkcgUmVwbyBNaXhlciBUb29scyAtLT4KPHN2ZyBmaWxsPSIjZmYzODI5IiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSItMjcxIDI4My45IDI1NiAyMzUuMSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgd2lkdGg9IjY0cHgiIGhlaWdodD0iNjRweCI+Cg08ZyBpZD0iU1ZHUmVwb19iZ0NhcnJpZXIiIHN0cm9rZS13aWR0aD0iMCIvPgoNPGcgaWQ9IlNWR1JlcG9fdHJhY2VyQ2FycmllciIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cg08ZyBpZD0iU1ZHUmVwb19pY29uQ2FycmllciI+IDxnPiA8cmVjdCB4PSItMjY0LjQiIHk9IjM1OS4zIiB3aWR0aD0iNDkuOSIgaGVpZ2h0PSIxNTkuNyIvPiA8cGF0aCBkPSJNLTI0MC41LDI4My45Yy0xOC40LDAtMzAuNSwxMS45LTMwLjUsMjcuN2MwLDE1LjUsMTEuNywyNy43LDI5LjgsMjcuN2gwLjRjMTguOCwwLDMwLjUtMTIuMywzMC40LTI3LjcgQy0yMTAuOCwyOTUuOC0yMjIuMSwyODMuOS0yNDAuNSwyODMuOXoiLz4gPHBhdGggZD0iTS03OC4yLDM1Ny44Yy0yOC42LDAtNDYuNSwxNS42LTQ5LjgsMjYuNnYtMjUuMWgtNTYuMWMwLjcsMTMuMywwLDE1OS43LDAsMTU5LjdoNTYuMXYtODYuM2MwLTQuOS0wLjItOS43LDEuMi0xMy4xIGMzLjgtOS42LDEyLjEtMTkuNiwyNy0xOS42YzE5LjUsMCwyOC4zLDE0LjgsMjguMywzNi40VjUxOWg1Ni42di04OC44Qy0xNC45LDM4MC44LTQyLjcsMzU3LjgtNzguMiwzNTcuOHoiLz4gPC9nPiA8L2c+Cg08L3N2Zz4=);
}